@import 'variables';

@mixin mobile {
    @media (max-width: 425px) {
        @content
    }
}

;

@mixin ola($color) {
    background-color: $color;
    box-shadow: 5px 5px adjust-color($color, $lightness: -15%);

    &:hover {
        background-color: adjust-color($color: $color, $lightness: -5%);
    }

    &:active {
        transform: translate(5px, 5px);
        box-shadow: none;
    }
}

;