$bulbasaur--color: #65A927;
$charmander--color: #FFAD52;
$squirtle--color: #57979F;
$caterpie--color: #609B50;
$pidgey--color: #C9B48D;
$jigglypuff--color: #ECA9B3;
$pikachu--color: #F2D047;
$meowth--color: #E8B06A;
$snorlax--color: #286F8B;
$psyduck--color: #F4CD4A;