$pokemons: (
    'bulbasaur': #65A927,
    'charmander': #FFAD52,
    'squirtle': #57979F,
    'diglett': #975721,
    'pidgey': #C9B48D,
    'jigglypuff': #ECA9B3,
    'pikachu': #F2D047,
    'meowth': #E8B06A,
    'rattata': #286F8B,
    'psyduck': #F4CD4A,
);

$width-pokedex: 750px;
$width-screen: calc($width-pokedex - 200px);
$width-itens: calc($width-screen / 2.2);
$padding-pokedex: calc(($width-pokedex - $width-screen) / 4);
$height-pokedex: 550px;
$height-screen: calc($height-pokedex - 100px);

$width-pokedex-mobile: 360px;
$width-screen-mobile: calc($width-pokedex-mobile - 70px);
$width-itens-mobile: calc($width-screen-mobile - 30px);
$height-pokedex-mobile: 630px;
$height-screen-mobile: calc($height-pokedex-mobile - 130px);