@import 'mixins';

.Home {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

    @include mobile {
        flex-direction: column;
        // padding: 0 250px;
        height: max-content;
        width: 100vw;
        gap: 25px;
    }
}