@import 'mixins';

.a {
    article {
        background-color: #8B0100;
        box-shadow: 0px 0px 0 10px #600405;
        border-radius: 0 0 25% 0%;
        display: flex;
        align-items: center;

        width: 500px;
        height: 500px;
        padding: 10px;

        transform: translateX(-550px);
        z-index: 0;

        @include mobile {
            width: 330px;
            height: 500px;
            flex-direction: column;
            justify-content: space-between;
            border-radius: 0 0 15% 15%;
            margin-bottom: 50px;
            transform: translateY(-550px);
        }

        &.show {

            animation: show 1s ease-in-out;
            transform: translateX(0px);

            @keyframes show {
                from {

                    transform: translateX(-550px);
                }

                to {
                    transform: translateX(0px);
                }

            }

            @include mobile {
                animation: show 1s ease-in-out;
                transform: translateY(0px);

                @keyframes show {
                    from {

                        transform: translateY(-550px);
                    }

                    to {
                        transform: translateY(0px);
                    }

                }
            }
        }

        &.hidden {
            animation: hide 1s ease-in-out;
            transform: translateX(-550px);
            z-index: 0;

            @keyframes hide {
                from {

                    transform: translateX(0px);
                }

                to {
                    transform: translateX(-550px);

                }
            }

            @include mobile {
                animation: hide 1s ease-in-out;
                transform: translateY(-550px);

                @keyframes hide {
                    from {

                        transform: translateY(0px);
                    }

                    to {
                        transform: translateY(-550px);

                    }
                }
            }
        }

        ul {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            height: 400px;
            width: 455px;

            @include mobile {
                // background-color: aliceblue;
                height: 500px;
                width: 320px;
                flex-direction: column;
            }

            li {
                border-radius: 30px;

                display: flex;
                align-items: center;
                list-style: none;

                height: 60px;
                font-size: 1.2rem;
                width: 220px;
                padding: 0 10px;

                cursor: pointer;

                @each $pokemon,
                $color in $pokemons {
                    &.#{$pokemon} {
                        @include pokemon($color);
                    }
                }


                @include mobile {
                    height: 80px;
                    width: 130px;
                    flex-direction: column;
                }

                img {
                    @include mobile {
                        height: 50px;
                    }
                }
            }
        }
    }
}