.Main_List {

    ul {

        li {
            background-color: aqua;
            list-style: none;

            padding: 10px 30px;
            margin: 12px;

            border-radius: 15px;
            text-align: center;

        }
    }
}