@import 'variables';
@import 'mixins';

.Main_Screen {
    background-color: #C00D0E;
    box-shadow: 10px 10px 0 10px #600405;
    border: 3px solid #000;

    width: $width-pokedex;
    height: $height-pokedex ;
    padding: $padding-pokedex;
    padding-right: 0;

    display: flex;
    justify-content: space-between;
    z-index: 1;

    @include mobile {
        width: $width-pokedex-mobile;
        height: $height-pokedex-mobile;
        padding: 32.5px;
        padding-bottom: 10px;
        flex-direction: column;
        margin-top: 10px;
        box-shadow: 0px 20px #600405;
    }


    figure {
        width: $width-screen;
        height: $height-screen;
        background-color: #202020;
        position: absolute;
        border-radius: 10px;
        border: 5px solid #B0B0B0;
        z-index: 3;

        @include mobile {
            width: $width-screen-mobile;
            height: $height-screen-mobile;
        }

        &.on {
            opacity: 0;
            animation: turnOn 1.5s ease-in;

            @keyframes turnOn {

                from {
                    opacity: 1;
                }

                to {
                    opacity: 0;
                }
            }
        }

        &.off {
            opacity: 1;
            animation: turnoff 1.5s ease-out;

            @keyframes turnoff {

                from {
                    opacity: 0;
                }

                to {
                    opacity: 1;
                }
            }
        }


    }

    .Screen {
        background-color: #F1F2D3;
        color: #202020;
        box-shadow: 0px 0px 0 20px #424242;
        border: 5px solid #B0B0B0;
        border-radius: 10px;

        width: $width-screen;
        height: $height-screen;
        padding: 10px;

        display: flex;
        justify-content: space-between;

        @include mobile {
            width: $width-screen-mobile;
            height: $height-screen-mobile;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            padding: 0;
        }



        .Left_Screen {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            width: $width-itens;

            @include mobile {
                width: $width-itens-mobile;
                gap: 10px;
            }

            ul {

                list-style: none;
                border-radius: 10px;
                background-color: #24272E;

                @include mobile {
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    height: 100px;
                }

                li {
                    color: #fff;
                    padding: 5px 10px;

                    div {
                        transition: all 1s;
                        height: 20px;
                        background-color: royalblue;
                        border-radius: 5px;

                        @include mobile {
                            height: 5px;
                        }

                    }


                }
            }
        }

        .Right_Screen {
            width: $width-itens;
            display: flex;
            flex-direction: column;
            align-items: center;

            @include mobile {
                height: 260px;
                width: $width-itens-mobile;
                justify-content: space-between;
            }

            .Pokemon_BG {
                @include mobile {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                }

                img {
                    width: 150px;
                    height: 150px;
                    // margin: 0 50%;
                    // transform: translateX(-50%);

                    @include mobile {
                        width: 100px;
                        height: 100px;
                    }

                }

                .Types {
                    display: flex;
                    justify-content: space-evenly;

                    @include mobile {
                        gap: 10px;
                        display: none;
                    }

                    span {
                        margin: 10px 0;
                        padding: 5px 10px;
                        border-radius: 15px;
                        border: 1px solid #000;


                    }
                }
            }


            li {
                list-style: none;

                img {
                    width: 75px;
                    height: 75px;
                    margin: 0 50%;
                    transform: translateX(-50%);
                }
            }


        }

    }

    .Buttons {
        // background-color: blue;
        width: 100px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;

        @include mobile {
            width: $width-screen-mobile;
            flex-direction: row;
        }


        $button--color: #51AE60;

        .TurnOn {
            background-color: $button--color;
            width: 50px;
            height: 50px;
            // padding: 2px;
            border-radius: 50%;

            box-shadow: 5px 5px adjust-color($button--color, $lightness: -15%);

            &:hover {
                background-color: adjust-color($color: $button--color, $lightness: -5);

            }

            &:active {
                transform: translate(5px, 5px);
                box-shadow: none;
            }
        }

        .TurnOff {
            background-color: $button--color;
            width: 50px;
            height: 50px;
            // padding: 2px;
            border-radius: 50%;

            box-shadow: 5px 5px adjust-color($button--color, $lightness: -15%);

            &:hover {
                background-color: adjust-color($color: $button--color, $lightness: -5);

            }

            &:active {
                transform: translate(5px, 5px);
                box-shadow: none;
            }
        }

    }
}