@import 'mixins';


.Main_Screen {
    background-color: #C00D0E;
    box-shadow: 10px 10px 0 10px #600405;
    border: 3px solid #000;

    width: 750px;
    height: 550px;
    padding: 50px 0px 50px 50px;

    display: flex;
    justify-content: space-between;
    z-index: 1;

    article {
        width: 550px;
        height: 450px;
        background-color: #202020;
        position: absolute;
        border-radius: 10px;
        border: 5px solid #B0B0B0;
        z-index: 3;

        &.on {
            opacity: 0;
            animation: turnOn 2s ease-in;

            @keyframes turnOn {

                from {
                    opacity: 1;
                }

                to {
                    opacity: 0;
                }
            }
        }

        &.off {
            opacity: 1;
            animation: turnoff 2s ease-out;

            @keyframes turnoff {

                from {
                    opacity: 0;
                }

                to {
                    opacity: 1;
                }
            }
        }


    }

    .Screen {
        background-color: #F1F2D3;
        color: #202020;
        box-shadow: 0px 0px 0 20px #424242;
        border: 5px solid #B0B0B0;
        border-radius: 10px;

        width: 550px;
        height: 450px;
        padding: 10px;

        display: flex;
        justify-content: space-between;

        li {
            font-size: 1.2rem;
            display: flex;
            flex-direction: column;
        }

        .Left_Screen {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            ul {
                width: 250px;
                list-style: none;
                border-radius: 10px;
                background-color: #24272E;

                li {
                    color: #fff;
                    padding: 5px 10px;

                    div {
                        transition: all 1s;
                        height: 20px;
                        background-color: royalblue;
                        border-radius: 5px;
                        padding: 0 4px;

                    }


                }
            }
        }

        .Right_Screen {
            width: 210px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .Pokemon_BG {

                img {
                    width: 150px;
                    height: 150px;
                    margin: 0 50%;
                    transform: translateX(-50%);
                }

                .Types {
                    display: flex;
                    justify-content: space-evenly;

                    span {
                        margin: 10px 0;
                        padding: 5px 10px;
                        border-radius: 15px;
                        border: 1px solid #000;
                    }
                }
            }


            li {

                img {
                    width: 75px;
                    height: 75px;
                    margin: 0 50%;
                    transform: translateX(-50%);
                }
            }


        }

        @include mobile {
            width: 100vw;
            height: 1000px;
        }



        .lis {
            display: flex;
            gap: 30px;

            @include mobile {
                flex-direction: column;
            }

        }
    }

    .Buttons {
        // background-color: blue;
        width: 100px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;


        $button--color: #51AE60;

        .TurnOn {
            background-color: $button--color;
            width: 50px;
            height: 50px;
            // padding: 2px;
            border-radius: 50%;

            box-shadow: 5px 5px adjust-color($button--color, $lightness: -15%);

            &:hover {
                background-color: adjust-color($color: $button--color, $lightness: -5);

            }

            &:active {
                transform: translate(5px, 5px);
                box-shadow: none;
            }
        }

        .TurnOff {
            background-color: $button--color;
            width: 50px;
            height: 50px;
            // padding: 2px;
            border-radius: 50%;

            box-shadow: 5px 5px adjust-color($button--color, $lightness: -15%);

            &:hover {
                background-color: adjust-color($color: $button--color, $lightness: -5);

            }

            &:active {
                transform: translate(5px, 5px);
                box-shadow: none;
            }
        }

    }
}